In [65]:
import os, sys
import dotenv

dotenv.load_dotenv('../.env')    
PATH_DATA = os.environ.get('PATH_OPENSKY') + os.environ.get('PATH_REL_DATA')
PATH_USER_POSTS = PATH_DATA + 'user_posts/'

PATH_DATA

'/home/ties/Documents/00_Uni/24W/Foundations/opensky/data/'

In [66]:
import pandas as pd
import numpy as np

Empty DataFrame
Columns: []
Index: [1634372, 1902278, 1335344, 2906808, 3582199, 3966260, 2387002, 1346088, 2055444, 1582867, 1013945, 1269937, 404376, 2951566, 2900115, 1583008, 318357, 587501, 1106322, 2377954, 3529749, 889091, 39982, 3846151, 2610052, 1755943, 1605703, 1887313, 127193, 1671872, 3545091, 2804859, 2243447, 8185, 312619, 3457099, 749940, 4025698, 1310927, 322398, 1359871, 2674238, 1911831, 2531400, 1076543, 1438188, 3713961, 2026716, 1474343, 92271, 2300559, 1689367, 766802, 1096238, 1808658, 1859851, 2804101, 569552, 454108, 152197, 1660715, 883993, 2979135, 1127812, 2056383, 3933524, 1311787, 3327457, 4045659, 1997365, 1389310, 3722053, 771457, 316989, 131060, 1045063, 2310209, 1382659, 2911551, 3242701, 531030, 2999020, 1314511, 1640070, 2335487, 389661, 1970308, 2477417, 3770580, 2480896, 1810236, 3283140, 790576, 3800259, 794963, 2114282, 1525686, 2375214, 3949818, 307732]

[100 rows x 0 columns]

In [132]:
import pandas as pd
import numpy as np

user_posts_files = os.listdir(PATH_USER_POSTS)
user_ids = [int(f.split('.')[0]) for f in user_posts_files]

df = pd.DataFrame(index=user_ids)
df = df.sample(100)
df

def get_df_posts(user_id: int) -> pd.DataFrame:
    global ERROR
    try:
        with open(PATH_USER_POSTS + str(user_id) + '.jsonl') as f:
            return pd.read_json(f, lines=True)
    except Exception as e:
        ERROR = True
        print(f"Exception in get_df_posts: {e}")
        return pd.DataFrame()

def get_langs(df_posts: pd.DataFrame) -> list:
    global ERROR
    try:
        if df_posts.langs.dropna().empty:
            return None
        return ",".join(list(set(df_posts.langs.dropna().sum())))
    except Exception as e:
        ERROR = True
        print(f"Exception in get_langs: {e}")
        return None

def get_minmax_dates(df_posts: pd.DataFrame) -> tuple:
    global ERROR
    try:
        return df_posts.date.min(), df_posts.date.max()
    except Exception as e:
        ERROR = True
        print(f"Exception in get_minmax_dates: {e}")
        return None, None

def get_mean_sent_score(df_posts: pd.DataFrame) -> float:
    global ERROR
    try:
        return df_posts.sent_score.mean()
    except Exception as e:
        ERROR = True
        print(f"Exception in get_mean_sent_score: {e}")
        return None

def get_mean_like_count(df_posts: pd.DataFrame) -> float:
    global ERROR
    try:
        return df_posts.like_count.mean()
    except Exception as e:
        ERROR = True
        print(f"Exception in get_mean_like_count: {e}")
        return None

def get_mean_reply_count(df_posts: pd.DataFrame) -> float:
    global ERROR
    try:
        return df_posts.reply_count.mean()
    except Exception as e:
        ERROR = True
        print(f"Exception in get_mean_reply_count: {e}")
        return None

def get_mean_repost_count(df_posts: pd.DataFrame) -> float:
    global ERROR
    try:
        return df_posts.repost_count.mean()
    except Exception as e:
        ERROR = True
        print(f"Exception in get_mean_repost_count: {e}")
        return None

count = 1

for user_id, row in df.iterrows():
    print(f"{count} / {len(df)}, user_id: {user_id}", end='\r')

    ERROR = False

    df_user_posts = get_df_posts(user_id)

    df.loc[user_id, "instance"] = df_user_posts.loc[0, "instance"] if not df_user_posts.empty else None
    df.loc[user_id, "langs"] = get_langs(df_user_posts)  # Convert list to comma-separated string
    df.loc[user_id, "min_date"], df.loc[user_id, "max_date"] = get_minmax_dates(df_user_posts)
    df.loc[user_id, "mean_sent_score"] = get_mean_sent_score(df_user_posts)
    df.loc[user_id, "mean_like_count"] = get_mean_like_count(df_user_posts)
    df.loc[user_id, "mean_reply_count"] = get_mean_reply_count(df_user_posts)
    df.loc[user_id, "mean_repost_count"] = get_mean_repost_count(df_user_posts)
    df.loc[user_id, "n_posts"] = len(df_user_posts)
    df.loc[user_id, "cauht_exception"] = ERROR  

    count += 1

df

,instance,langs,min_date,max_date,mean_sent_score,mean_like_count,mean_reply_count,mean_repost_count,n_posts,cauht_exception
1567169,bsky.social,eng,1976-05-30 13:15:10.930,1976-05-30 13:33:01.136,0.847800,17.200000,1.400000,2.200000,5.0,False
3183464,bsky.social,eng,1976-05-30 13:30:12.320,1976-05-31 14:31:01.808,0.664000,1.500000,0.000000,0.000000,2.0,False
2104367,bsky.social,por,1976-05-30 12:27:31.223,1976-05-30 12:28:10.256,NaN,1.000000,0.200000,0.000000,5.0,False
183493,bsky.social,fin,1976-05-30 13:17:21.749,1976-05-31 15:04:31.802,NaN,2.263158,0.394737,0.000000,38.0,False
1182522,bsky.social,jpn,1976-05-31 14:47:51.116,1976-05-31 15:06:22.100,NaN,0.803571,0.416667,0.053571,168.0,False
...,...,...,...,...,...,...,...,...,...,...
2129650,bsky.social,eng,1976-05-30 13:34:31.909,1976-05-30 13:34:40.204,0.776667,1.333333,0.333333,0.000000,3.0,False
1667390,bsky.social,eng,1976-05-30 13:31:11.348,1976-05-30 13:31:11.348,0.936000,3.000000,0.000000,0.000000,1.0,False
1369331,bsky.social,"zho,jpn,spa",1976-05-30 12:24:20.014,1976-05-31 15:06:22.034,NaN,764.676887,4.191038,220.733491,424.0,False
3742336,bsky.social,eng,1976-05-30 12:59:40.830,1976-05-30 13:32:41.000,0.815800,2.400000,0.000000,0.000000,5.0,False
2252150,bsky.social,jpn,1976-05-31 14:47:50.655,1976-05-31 14:48:40.941,NaN,5.500000,0.000000,2.500000,2.0,False

In [127]:
df = df.dropna()
df.langs = df.langs.apply(lambda x: x.split(",") if x else None)
df

/tmp/ipykernel_135798/2069401785.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.langs = df.langs.apply(lambda x: x.split(",") if x else None)

,langs,min_date,max_date,mean_sent_score,mean_like_count,mean_reply_count,mean_repost_count,n_posts,cauht_exception
393066,"[spa, jpn, eng]",1976-05-30 12:40:20.107,1976-05-31 14:51:31.153,0.875250,9.166667,0.500000,3.000000,6.0,False
2735341,[eng],1976-05-30 13:33:01.615,1976-05-31 14:34:30.412,0.730606,73.363636,2.393939,31.303030,33.0,False
1577081,[eng],1976-05-30 13:50:41.427,1976-05-30 13:50:41.427,0.973000,2.000000,0.000000,1.000000,1.0,False
543454,"[ukr, rus, deu, eng, spa]",1976-05-30 11:54:21.920,1976-05-31 15:06:22.312,0.783045,5.058557,0.685180,1.003320,3313.0,False
2801716,[eng],1976-05-30 12:59:42.017,1976-05-30 13:01:31.905,0.747500,478.500000,10.000000,80.000000,2.0,False
1111545,[eng],1976-05-30 13:16:22.107,1976-05-30 13:16:22.107,0.624000,111.000000,2.000000,31.000000,1.0,False
997615,"[fra, eng]",1976-05-30 12:43:20.828,1976-05-31 15:06:01.904,0.833978,134.486339,2.519126,31.830601,183.0,False
395587,[eng],1976-05-30 11:50:52.256,1976-05-30 12:27:51.818,0.651714,13.111111,1.055556,2.055556,18.0,False
1339273,"[spa, jpn, deu, eng]",1976-05-30 12:40:51.517,1976-05-31 14:33:41.343,0.765302,36.563636,0.672727,12.636364,165.0,False
230039,[eng],1976-05-30 13:50:40.800,1976-05-30 13:50:41.359,0.664000,2.000000,0.000000,0.000000,2.0,False
1879099,"[spa, eng]",1976-05-30 13:14:11.455,1976-05-31 15:06:01.359,0.783267,5.891304,0.239130,2.652174,46.0,False
434535,[eng],1976-05-30 12:42:41.517,1976-05-30 13:49:01.521,0.747185,49.148148,1.592593,23.555556,27.0,False
50437,[eng],1976-05-30 12:56:50.146,1976-05-31 15:04:50.012,0.738943,38.340206,0.659794,9.685567,194.0,False
2248351,"[deu, fra, eng]",1976-05-30 13:00:00.605,1976-05-31 15:03:50.407,0.804200,236.769231,7.923077,118.384615,13.0,False
472907,[eng],1976-05-30 13:14:02.330,1976-05-31 14:32:30.123,0.787125,1.848485,0.484848,0.000000,33.0,False
724515,[eng],1976-05-30 12:26:50.208,1976-05-31 15:06:01.542,0.706269,555.403846,7.884615,171.423077,52.0,False
3959275,"[por, eng]",1976-05-30 13:46:50.140,1976-05-31 14:49:41.328,0.759611,744.857143,13.678571,210.357143,28.0,False
2408977,[eng],1976-05-31 14:47:01.523,1976-05-31 14:47:01.523,0.974000,160.000000,15.000000,22.000000,1.0,False
3786093,[eng],1976-05-30 12:43:20.410,1976-05-31 15:04:02.357,0.776910,1.025641,0.089744,0.000000,78.0,False
659181,[eng],1976-05-30 12:44:12.030,1976-05-30 12:44:12.030,0.607000,11.000000,1.000000,0.000000,1.0,False
1245200,[eng],1976-05-30 12:42:20.232,1976-05-30 12:42:20.232,0.854000,554.000000,9.000000,533.000000,1.0,False
2461419,[eng],1976-05-30 12:41:42.303,1976-05-30 13:51:20.111,0.753595,1.488372,0.255814,0.023256,43.0,False
283435,"[spa, jpn, eng]",1976-05-30 12:28:12.159,1976-05-30 13:18:31.912,0.811619,200.058824,6.088235,94.544118,68.0,False
282299,[eng],1976-05-30 12:26:00.101,1976-05-30 13:18:00.929,0.763456,111.344444,1.888889,89.288889,90.0,False
2335931,"[eng, kor, deu]",1976-05-30 13:01:22.159,1976-05-30 13:51:42.020,0.842833,73.928571,1.571429,20.357143,14.0,False
1698606,[eng],1976-05-30 13:01:10.632,1976-05-31 14:49:21.500,0.765273,15.666667,0.424242,2.030303,33.0,False
391864,"[rus, jpn, fra, eng, pol, ita, deu]",1976-05-30 12:45:12.354,1976-05-31 15:05:51.723,0.791632,41.170455,0.670455,17.363636,88.0,False
456557,[eng],1976-05-30 13:31:31.148,1976-05-30 13:50:41.747,0.734200,4.000000,0.666667,0.833333,6.0,False
1654381,[eng],1976-05-31 14:32:02.350,1976-05-31 15:06:21.843,0.852455,0.727273,0.181818,0.090909,11.0,False
164626,"[mri, heb, eng]",1976-05-30 12:24:10.159,1976-05-31 15:06:20.349,0.767305,113.945392,2.888510,32.755404,879.0,False
2210814,[eng],1976-05-30 13:01:20.731,1976-05-31 14:33:40.617,0.659950,0.300000,0.000000,0.000000,20.0,False
293009,"[eng, deu]",1976-05-30 12:41:20.731,1976-05-31 14:48:02.134,0.749000,142.219251,4.518717,60.663102,187.0,False
1409645,"[spa, eng]",1976-05-30 13:00:50.000,1976-05-30 13:35:01.702,0.763077,602.111111,14.074074,138.370370,27.0,False
267319,[eng],1976-05-30 12:44:20.626,1976-05-30 13:16:11.459,0.663118,190.473684,3.947368,58.000000,19.0,False
2086262,[eng],1976-05-31 14:48:50.129,1976-05-31 14:48:50.129,0.823000,2.000000,1.000000,0.000000,1.0,False
2217602,[eng],1976-05-30 13:15:32.019,1976-05-30 13:16:01.829,0.861000,1.000000,0.000000,0.500000,2.0,False
2391257,[eng],1976-05-30 13:32:10.153,1976-05-30 13:32:10.205,0.713500,2.500000,0.000000,0.000000,2.0,False
1628394,[eng],1976-05-30 13:01:11.141,1976-05-30 13:14:21.045,0.806750,1.250000,0.500000,0.500000,4.0,False

In [130]:
from collections import Counter
Counter(df.langs.sum())

Counter({'eng': 38,
         'spa': 6,
         'deu': 6,
         'jpn': 4,
         'fra': 3,
         'rus': 2,
         'ukr': 1,
         'por': 1,
         'kor': 1,
         'pol': 1,
         'ita': 1,
         'mri': 1,
         'heb': 1})

In [131]:
df_user_posts

,post_id,user_id,instance,date,text,langs,like_count,reply_count,repost_count,reply_to,replied_author,thread_root,thread_root_author,repost_from,reposted_author,quotes,quoted_author,labels,sent_label,sent_score
0,199659954,1628394,bsky.social,1976-05-30 13:14:21.045,Best way to escape a business day! Vantre rest...,[eng],0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,0.880
1,110002047,1628394,bsky.social,1976-05-30 13:14:11.122,"“Grow up, guy” 🤗",[eng],1,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,0.592
2,110002051,1628394,bsky.social,1976-05-30 13:14:01.107,Please welcome @@1628392 (and follow him!) #be...,[eng],1,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,0.988
3,110002049,1628394,bsky.social,1976-05-30 13:01:11.141,Premiere today!,[eng],3,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0.767

In [117]:
df.iloc[10]

langs                nan
min_date             NaT
max_date             NaT
mean_sent_score      NaN
mean_like_count      NaN
mean_reply_count     NaN
mean_repost_count    NaN
n_posts              NaN
cauht_exception      NaN
Name: 445387, dtype: object

In [115]:
df.loc[4453870, "langs"] = list(set(df_posts.langs.dropna().sum()))

ValueError: Must have equal len keys and value when setting with an iterable

In [101]:
df_posts = get_df_posts(1634372)
df_posts

,post_id,user_id,instance,date,text,langs,like_count,reply_count,repost_count,reply_to,replied_author,thread_root,thread_root_author,repost_from,reposted_author,quotes,quoted_author,labels,sent_label,sent_score
0,45399573,1634372,bsky.social,1976-05-31 15:06:00.752,Übrigens: Die Ukraine hat bereits vor längerem...,[deu],679,5,241,NaN,NaN,NaN,NaN,2207458.0,3497.0,NaN,NaN,NaN,NaN,NaN
1,45399574,1634372,bsky.social,1976-05-31 15:05:41.556,"Putin wird den Krieg nur „einfrieren“ wollen, ...",[deu],289,7,66,NaN,NaN,NaN,NaN,2132777.0,3497.0,NaN,NaN,NaN,NaN,NaN
2,45399575,1634372,bsky.social,1976-05-31 15:06:11.603,Meanwhile in Russia: Aleksandr Sytin stunned h...,[eng],58,1,24,NaN,NaN,NaN,NaN,8056944.0,12283.0,NaN,NaN,NaN,1.0,0.666
3,45399576,1634372,bsky.social,1976-05-31 15:06:11.623,,[deu],97,2,25,NaN,NaN,NaN,NaN,2240582.0,1531.0,NaN,NaN,NaN,NaN,NaN
4,45399577,1634372,bsky.social,1976-05-31 15:06:11.844,"Putin lässt Kriege führen, Städte zerstören, Z...",[deu],424,13,111,NaN,NaN,NaN,NaN,1816385.0,29691.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
465,45400129,1634372,bsky.social,1976-05-30 13:01:01.654,Drei Jahre und drei Monate nach dem Jan Marsal...,[deu],46,2,12,NaN,NaN,NaN,NaN,7898003.0,3497.0,NaN,NaN,NaN,NaN,NaN
466,45400130,1634372,bsky.social,1976-05-30 13:00:51.504,"Hach, was mache ich nur mit diesem Profil? 🤔 N...",[deu],2,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
467,45400131,1634372,bsky.social,1976-05-30 13:00:41.256,Drüben wird auf eine Kollegin von mir zur Hatz...,[deu],233,29,18,NaN,NaN,NaN,NaN,6061522.0,1219.0,NaN,NaN,NaN,NaN,NaN
468,45400132,1634372,bsky.social,1976-05-30 13:00:41.441,"Hallo, danke für den Code 😍 Hoffentlich ist es...",[deu],1,0,0,45400133.0,426146.0,45400133.0,426146.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469,45400134,1634372,bsky.social,1976-05-30 13:00:10.335,,[deu],259,6,187,NaN,NaN,NaN,NaN,1801195.0,748049.0,NaN,NaN,NaN,NaN,NaN

In [109]:
df

,langs,min_date,max_date,mean_sent_score,mean_like_count,mean_reply_count,mean_repost_count,n_posts,cauht_exception
1634372,"{'ukr', 'swe', 'fra', 'eng', 'deu'}",1976-05-30 12:27:21.339,1976-05-31 15:06:11.910,0.756977,280.710638,14.268085,80.087234,470.0,False
1902278,"{'gle', 'slk', 'dan', 'nor', 'tlh', 'por', 'be...",1976-05-30 12:23:50.909,1976-05-31 15:06:21.631,0.815048,283.829522,0.723493,177.367983,481.0,False
1335344,{'jpn'},1976-05-31 14:47:51.427,1976-05-31 14:47:51.427,NaN,0.000000,0.000000,0.000000,1.0,False
2906808,{'fra'},1976-05-30 13:32:01.308,1976-05-30 13:32:01.308,NaN,0.000000,0.000000,0.000000,1.0,False
3582199,{'eng'},1976-05-30 13:16:02.215,1976-05-30 13:16:31.952,0.702333,463.000000,3.000000,105.500000,4.0,False
...,...,...,...,...,...,...,...,...,...
2114282,{'jpn'},1976-05-31 15:04:02.310,1976-05-31 15:04:02.310,NaN,2.000000,0.000000,0.000000,1.0,False
1525686,{'jpn'},1976-05-30 12:23:50.706,1976-05-31 15:04:11.538,NaN,425.727273,1.818182,329.454545,22.0,False
2375214,{'por'},1976-05-30 12:08:20.225,1976-05-31 15:04:12.223,NaN,1.000000,0.000000,0.000000,3.0,False
3949818,{'eng'},1976-05-30 12:59:42.312,1976-05-30 12:59:42.312,0.936000,208.000000,11.000000,127.000000,1.0,False
307732,{'eng'},1976-05-30 12:42:50.016,1976-05-31 14:51:11.645,0.758476,5.603641,0.817381,0.903699,1703.0,False

In [108]:
df.loc[1634372, "langs"] = list(set(df_posts.langs.dropna().sum()))

ValueError: Must have equal len keys and value when setting with an iterable

In [61]:
df_posts.langs.dropna().empty

True

In [47]:
get_langs(get_df_posts(983102))

[np.str_('0.0')]