In [33]:
import os, sys
import dotenv

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

dotenv.load_dotenv('../.env')    
PATH_DATA = os.environ.get('PATH_OPENSKY') + os.environ.get('PATH_REL_DATA')
PATH_FEED_POSTS = PATH_DATA + 'feed_posts/'
list_files = os.listdir(PATH_FEED_POSTS)
list_files

['Science.jsonl.gz',
 'Political Science.jsonl.gz',
 'BookSky.jsonl.gz',
 'Blacksky.jsonl.gz',
 'Game Dev.jsonl.gz',
 'AcademicSky.jsonl.gz',
 '#Disability.jsonl.gz',
 'News.jsonl.gz',
 "What's History.jsonl.gz",
 'GreenSky.jsonl.gz',
 '#UkrainianView.jsonl.gz']

In [34]:
df = pd.read_json(PATH_FEED_POSTS + 'News.jsonl.gz', lines=True)
df

,post_id,user_id,instance,date,text,langs,like_count,reply_count,repost_count,reply_to,replied_author,thread_root,thread_root_author,quotes,quoted_author,labels
0,3517724,27155,com,1976-05-30 13:16:41.125,üìç Welcome to üì∞ News! Please hit Like ‚ù§Ô∏è above ...,[eng],2799,46,104,NaN,NaN,NaN,NaN,NaN,NaN,None
1,3517724,27155,com,1976-05-30 13:16:41.125,üìç Welcome to üì∞ News! Please hit Like ‚ù§Ô∏è above ...,[eng],2799,46,104,NaN,NaN,NaN,NaN,NaN,NaN,None
2,3517724,27155,com,1976-05-30 13:16:41.125,üìç Welcome to üì∞ News! Please hit Like ‚ù§Ô∏è above ...,[eng],2799,46,104,NaN,NaN,NaN,NaN,NaN,NaN,None
3,73976085,12030,com,1976-05-31 15:05:40.630,The low end consumer is still struggling\n\nht...,None,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,None
4,3517724,27155,com,1976-05-30 13:16:41.125,üìç Welcome to üì∞ News! Please hit Like ‚ù§Ô∏è above ...,[eng],2799,46,104,NaN,NaN,NaN,NaN,NaN,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42107,70869659,319,com,1976-05-30 12:11:11.300,Tuesday briefing:\n\n- Vladimir Putin spoke fo...,None,18,0,3,NaN,NaN,NaN,NaN,NaN,NaN,None
42108,2974,319,com,1976-05-30 12:11:01.529,"no for real, no paywall on our articles until ...",None,78,0,50,1233314.0,319.0,1233314.0,319.0,NaN,NaN,None
42109,44325423,319,com,1976-05-30 12:10:11.843,Florida Gov. Ron DeSantis‚Äôs wealthy donors and...,None,19,6,6,NaN,NaN,NaN,NaN,NaN,NaN,None
42110,112720429,319,com,1976-05-30 12:10:11.325,Wednesday briefing:\n\n - Underwater noises we...,None,32,2,6,NaN,NaN,NaN,NaN,NaN,NaN,None
42111,3517724,27155,com,1976-05-30 13:16:41.125,üìç Welcome to üì∞ News! Please hit Like ‚ù§Ô∏è above ...,[eng],2799,46,104,NaN,NaN,NaN,NaN,NaN,NaN,None

In [46]:
df.drop_duplicates(subset=['post_id'], inplace=True)
df

,post_id,user_id,instance,date,text,langs,like_count,reply_count,repost_count,reply_to,replied_author,thread_root,thread_root_author,quotes,quoted_author,labels
0,3517724,27155,com,1976-05-30 13:16:41.125,üìç Welcome to üì∞ News! Please hit Like ‚ù§Ô∏è above ...,[eng],2799,46,104,NaN,NaN,NaN,NaN,NaN,NaN,None
3,73976085,12030,com,1976-05-31 15:05:40.630,The low end consumer is still struggling\n\nht...,None,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,None
6,73975943,12030,com,1976-05-31 15:06:21.832,Signa creditors agree deep haircuts in wind do...,None,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,None
7,3753243,379,com,1976-05-31 15:06:22.341,"A conservative social media influencer, Isabel...",[eng],153,12,26,NaN,NaN,NaN,NaN,NaN,NaN,None
8,12776392,15717,ua,1976-05-31 15:06:22.336,üíØ Income from frozen Russian assets would be b...,[eng],22,0,4,NaN,NaN,NaN,NaN,NaN,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42105,92231771,319,com,1976-05-30 12:11:11.434,The Constitution‚Äôs Elections Clause ‚Äúdoes not ...,None,18,0,4,8486523.0,319.0,8486523.0,319.0,NaN,NaN,None
42107,70869659,319,com,1976-05-30 12:11:11.300,Tuesday briefing:\n\n- Vladimir Putin spoke fo...,None,18,0,3,NaN,NaN,NaN,NaN,NaN,NaN,None
42108,2974,319,com,1976-05-30 12:11:01.529,"no for real, no paywall on our articles until ...",None,78,0,50,1233314.0,319.0,1233314.0,319.0,NaN,NaN,None
42109,44325423,319,com,1976-05-30 12:10:11.843,Florida Gov. Ron DeSantis‚Äôs wealthy donors and...,None,19,6,6,NaN,NaN,NaN,NaN,NaN,NaN,None
42110,112720429,319,com,1976-05-30 12:10:11.325,Wednesday briefing:\n\n - Underwater noises we...,None,32,2,6,NaN,NaN,NaN,NaN,NaN,NaN,None

In [47]:
df.user_id.value_counts()

user_id
9487      8452
12030     7543
5087      2894
1168      2194
4890      2164
          ...
498107       3
27155        1
3011         1
56051        1
196964       1
Name: count, Length: 75, dtype: int64

In [51]:
df.loc[df.user_id == 9487, :].reset_index(drop=True).sort_values(by='reply_count', ascending=False)

,post_id,user_id,instance,date,text,langs,like_count,reply_count,repost_count,reply_to,replied_author,thread_root,thread_root_author,quotes,quoted_author,labels
5755,616583,9487,de,1976-05-30 13:48:50.312,Der Bundesgesundheitsminister r√§t zu Homeoffic...,[deu],37,30,12,NaN,NaN,NaN,NaN,NaN,NaN,None
5158,2576158,9487,de,1976-05-30 13:50:11.415,"Er glaubt an die klassische, sie an eine sanft...",[deu],3,30,1,NaN,NaN,NaN,NaN,NaN,NaN,None
7438,1975684,9487,de,1976-05-30 13:33:10.629,Straft√§tern mit zwei Staatsangeh√∂rigkeiten sol...,[deu],8,26,3,NaN,NaN,NaN,NaN,NaN,NaN,None
7171,4043732,9487,de,1976-05-30 13:33:41.913,Die Gr√ºnen sollten sich und dem Land einen Gef...,[deu],12,25,5,NaN,NaN,NaN,NaN,NaN,NaN,None
184,668534,9487,de,1976-05-31 15:06:00.556,Seit vier Jahren gilt in den Niederlanden Temp...,[deu],604,23,194,NaN,NaN,NaN,NaN,NaN,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19,118065571,9487,de,1976-05-31 15:06:21.555,Christian Streich verl√§sst nach mehr als zw√∂lf...,[deu],5,0,1,NaN,NaN,NaN,NaN,NaN,NaN,None
8436,122373754,9487,de,1976-05-30 13:17:31.240,Zwischen Geiseldiplomatie und Waffenlieferunge...,[deu],4,0,1,NaN,NaN,NaN,NaN,NaN,NaN,None
8438,35004318,9487,de,1976-05-30 13:17:31.022,Asylbewerber ohne Aufenthaltsrecht sollen k√ºnf...,[deu],4,0,0,NaN,NaN,NaN,NaN,NaN,NaN,None
8424,234139996,9487,de,1976-05-30 13:17:31.231,Die Bundesregierung hat einen Sonderbeauftragt...,[deu],0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,None
8425,234139997,9487,de,1976-05-30 13:17:31.231,Die Bundesregierung hat einen Sonderbeauftragt...,[deu],0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,None

In [52]:
df[['like_count', 'reply_count', 'repost_count']].describe()

         like_count   reply_count  repost_count
count  41685.000000  41685.000000  41685.000000
mean      14.950798      1.165071      4.232938
std       62.622033      5.729821     18.021237
min        0.000000      0.000000      0.000000
25%        1.000000      0.000000      0.000000
50%        3.000000      0.000000      1.000000
75%        8.000000      1.000000      3.000000
max     4017.000000    441.000000   1197.000000

In [53]:
df[['like_count', 'reply_count', 'repost_count']].sum()

like_count      623224
reply_count      48566
repost_count    176450
dtype: int64

In [44]:
df.iloc[0].text

"üìç Welcome to üì∞ News! Please hit Like ‚ù§Ô∏è above to improve this feed's visibility.\n\nAll newspapers on this feed have self-verified using their org's domain name. Please contact me if you represent a news org and need help with doing this!\n\nNews orgs, request inclusion here: forms.gle/jjcfAV6rF2Wq..."

In [35]:
df.drop_duplicates('user_id').instance.value_counts()

instance
com                    32
org                    13
fr                      4
de                      4
news                    3
co                      2
ft.com                  2
ua                      1
eu                      1
nl                      1
ca                      1
ch                      1
io                      1
se                      1
mn                      1
media                   1
theconversation.com     1
lu                      1
press                   1
site                    1
net                     1
co.jp                   1
Name: count, dtype: int64

In [36]:
df_news_agg = df.groupby('user_id').agg({'like_count':'mean', 'reply_count': 'mean', 'repost_count': 'mean'})
df_news_agg.reset_index(inplace=True)
df_news_agg.sort_values('like_count', ascending=False).reset_index(drop=True).reset_index()
df_news_agg
#df_news_agg

    user_id  like_count  reply_count  repost_count
0         9  101.164000     7.888000     24.362000
1       114  430.292793     6.761261     76.558559
2       319   98.972759     9.382250     27.616872
3       379   66.387487     7.557518     19.868819
4       625    4.206186     0.206186      1.237113
..      ...         ...          ...           ...
70   296757    1.800000     0.100000      1.300000
71   492377    1.500000     0.000000      0.750000
72   498107    2.000000     0.333333      3.333333
73   508098    4.709091     0.327273      1.290909
74   967583    1.471698     0.042453      1.165094

[75 rows x 4 columns]

In [38]:
df_user_agg = pd.read_csv(os.environ.get('PATH_OPENSKY') + '/results/agg_user_data.csv', index_col=0)
df_user_agg.reset_index(inplace=True, names=['user_id'])
df_user_agg = df_user_agg[~df_user_agg.caught_exception]
df_user_agg

,user_id,instance,langs,min_date,max_date,mean_sent_score,mean_like_count,mean_reply_count,mean_repost_count,n_posts,caught_exception
0,288811,bsky.social,jpn,1976-05-31 14:49:40.250,1976-05-31 15:06:01.140,NaN,4.636364,0.000000,0.242424,33.0,False
1,527934,bsky.social,"eng,heb,jpn,fra",1976-05-30 12:23:51.918,1976-05-31 15:06:22.021,0.824409,18.211009,0.616972,7.187691,2616.0,False
2,1632691,bsky.social,spa,1976-05-30 13:16:31.226,1976-05-30 13:16:31.226,NaN,2.000000,1.000000,0.000000,1.0,False
3,1909409,bsky.social,jpn,1976-05-31 14:48:11.431,1976-05-31 14:48:11.431,NaN,1.000000,0.000000,0.000000,1.0,False
4,2902501,bsky.social,kor,1976-05-30 12:59:01.311,1976-05-31 14:51:00.209,NaN,0.500000,0.100000,0.000000,10.0,False
...,...,...,...,...,...,...,...,...,...,...,...
705678,495380,bsky.social,eng,1976-05-30 12:40:30.146,1976-05-31 14:48:01.457,0.790667,0.800000,0.173333,0.026667,75.0,False
705679,502241,bsky.social,eng,1976-05-31 14:47:42.021,1976-05-31 14:47:42.304,0.800889,3.777778,1.444444,1.222222,9.0,False
705680,1652601,bsky.social,"spa,eng,cat,jpn",1976-05-30 12:09:11.814,1976-05-31 15:03:31.700,0.770500,87.579186,3.936652,33.321267,221.0,False
705681,1838341,bsky.social,por,1976-05-30 12:23:50.927,1976-05-30 12:24:10.012,NaN,13.600000,1.400000,3.400000,5.0,False
705682,3401925,esq,eng,1976-05-30 13:47:41.035,1976-05-31 15:05:40.127,0.727286,0.411765,0.215686,0.098039,51.0,False

In [40]:
df_user_agg.isna().sum()

user_id                   0
instance                  0
langs                 10482
min_date                  0
max_date                  0
mean_sent_score      335602
mean_like_count           0
mean_reply_count          0
mean_repost_count         0
n_posts                   0
caught_exception          0
dtype: int64

In [39]:
df_user_agg.sort_values('mean_reply_count', ascending=False)

,user_id,instance,langs,min_date,max_date,mean_sent_score,mean_like_count,mean_reply_count,mean_repost_count,n_posts,caught_exception
543294,3464624,bsky.social,jpn,1976-05-31 14:48:00.343,1976-05-31 14:48:00.343,NaN,1053.0,4391.0,175.0,1.0,False
194126,609807,bsky.social,jpn,1976-05-31 14:48:00.343,1976-05-31 14:48:00.343,NaN,1053.0,4391.0,175.0,1.0,False
600412,3104853,bsky.social,jpn,1976-05-31 14:48:00.343,1976-05-31 14:48:00.343,NaN,1053.0,4391.0,175.0,1.0,False
146401,3105569,bsky.social,jpn,1976-05-31 14:48:00.343,1976-05-31 14:48:00.343,NaN,1053.0,4391.0,175.0,1.0,False
625920,38867,bsky.social,jpn,1976-05-31 14:48:00.343,1976-05-31 14:48:00.343,NaN,1053.0,4391.0,175.0,1.0,False
...,...,...,...,...,...,...,...,...,...,...,...
287816,2413246,bsky.social,jpn,1976-05-31 14:49:11.241,1976-05-31 14:49:11.241,NaN,33.0,0.0,9.0,1.0,False
287815,2185931,bsky.social,jpn,1976-05-31 14:48:40.028,1976-05-31 15:05:31.358,NaN,0.5,0.0,0.0,4.0,False
287814,1689666,bsky.social,jpn,1976-05-31 14:33:41.434,1976-05-31 14:33:41.434,NaN,2.0,0.0,0.0,1.0,False
287811,2163327,bsky.social,zho,1976-05-31 14:48:00.728,1976-05-31 15:04:11.538,NaN,0.0,0.0,0.0,3.0,False
287822,2499903,bsky.social,eng,1976-05-31 15:03:32.032,1976-05-31 15:03:32.032,0.836,25.0,0.0,6.0,1.0,False

In [43]:
df_user_agg.langs.value_counts()

langs
eng                                                227675
jpn                                                217812
deu                                                 22578
eng,jpn                                             18695
deu,eng                                             14502
                                                    ...
jpn,kom                                                 1
spa,eng,zho,nld,rus,aka,pol,fra,deu,kor                 1
ukr,eng,heb,swe,ita,nld,zho,fra,deu,slk,slv,fin         1
hye,eng,ara                                             1
swe,eng,deu,bul                                         1
Name: count, Length: 29720, dtype: int64

In [21]:
df_joined = pd.merge(df_news_agg, df_user_agg, on='user_id', how='left')
df_joined.dropna(inplace=True)
df_joined

,user_id,like_count,reply_count,repost_count,instance,langs,min_date,max_date,mean_sent_score,mean_like_count,mean_reply_count,mean_repost_count,n_posts,caught_exception
0,9,101.164000,7.888000,24.362000,org,eng,1976-05-31 14:48:41.754,1976-05-31 15:06:22.303,0.736217,116.935922,8.631068,26.648544,515.0,False
3,379,66.387487,7.557518,19.868819,com,eng,1976-05-30 12:10:21.953,1976-05-31 15:06:22.341,0.728255,72.814621,7.787393,21.579261,2681.0,False
4,625,4.206186,0.206186,1.237113,ft.com,eng,1976-05-30 12:08:50.400,1976-05-31 15:05:51.343,0.934667,4.488372,0.271318,1.240310,129.0,False
5,626,27.371547,3.828729,8.363260,com,eng,1976-05-30 11:37:42.208,1976-05-31 15:06:21.755,0.715697,31.248649,3.438739,10.047748,1110.0,False
17,5332,37.000000,1.152542,9.983051,site,eng,1976-05-30 13:31:11.405,1976-05-31 15:06:22.004,0.754372,53.742794,1.960089,14.341463,451.0,False
20,8643,2.322358,0.145482,1.656968,fr,"eng,fra",1976-05-30 12:57:21.324,1976-05-31 15:06:22.000,0.860143,2.548930,0.203004,1.782431,2197.0,False
21,8923,7.213483,0.364045,2.548315,news,"zho,eng,rus,ell",1976-05-30 11:50:41.500,1976-05-31 15:06:22.109,0.739127,10.543503,0.616949,3.805650,885.0,False
25,12030,2.538910,0.155111,0.561315,com,"eng,rus",1976-05-30 11:03:20.227,1976-05-31 15:06:22.324,0.785636,2.553507,0.153559,0.569108,7756.0,False
29,16645,6.217391,0.434783,4.521739,net,"eng,fra",1976-05-30 13:00:00.901,1976-05-31 14:33:01.638,0.844000,10.019608,0.666667,6.803922,51.0,False
31,17627,18.416667,1.500000,5.750000,com,"eng,por,kor",1976-05-30 11:50:12.146,1976-05-30 13:16:41.543,0.741667,13.406015,0.548872,5.406015,133.0,False
36,19408,1.900000,0.350000,0.633333,com,eng,1976-05-30 13:33:01.319,1976-05-31 15:06:22.149,0.822357,1.052632,0.155263,0.400000,380.0,False
42,27155,2799.000000,46.000000,104.000000,com,"spa,eng,ita,por,swe,rus,fra,ell,deu,ara,jpn,fin",1976-05-30 11:50:11.955,1976-05-31 15:06:21.804,0.750827,65.929569,2.605013,21.386104,3152.0,False
45,50770,8.083333,0.083333,4.833333,org,eng,1976-05-30 12:42:21.614,1976-05-31 14:50:21.840,0.755824,7.431373,0.470588,4.372549,51.0,False
46,54349,6.538462,0.562937,2.604895,com,eng,1976-05-31 14:47:42.205,1976-05-31 15:06:22.235,0.821000,6.910345,0.610345,2.613793,290.0,False
50,63826,9.047170,0.216981,3.556604,com,"zho,eng,jpn",1976-05-30 11:50:11.438,1976-05-31 15:06:22.034,0.732557,8.085714,0.232653,2.877551,245.0,False
56,83804,1.685185,0.111111,0.555556,org,"spa,eng",1976-05-30 12:23:51.706,1976-05-31 15:06:21.716,0.771490,2.380645,0.193548,0.806452,155.0,False
59,132107,6.621005,0.260274,2.849315,ch,"deu,eng",1976-05-30 12:58:30.908,1976-05-31 15:06:21.601,0.787250,7.644483,0.387040,3.245184,571.0,False
67,273835,6.922619,0.172619,3.000000,com,"deu,eng",1976-05-30 11:52:31.909,1976-05-31 15:05:52.011,0.747941,10.306452,0.245968,4.181452,248.0,False
73,508098,4.709091,0.327273,1.290909,mn,eng,1976-05-30 12:23:51.414,1976-05-31 15:06:21.100,0.790035,4.950980,0.470588,1.647059,102.0,False

In [ ]:
df_active_news_outlet = df[df.user_id == 27155]
df_active_news_outlet

,post_id,user_id,instance,date,text,langs,like_count,reply_count,repost_count,reply_to,replied_author,thread_root,thread_root_author,quotes,quoted_author,labels
0,3517724,27155,com,1976-05-30 13:16:41.125,üìç Welcome to üì∞ News! Please hit Like ‚ù§Ô∏è above ...,[eng],2799,46,104,NaN,NaN,NaN,NaN,NaN,NaN,None
1,3517724,27155,com,1976-05-30 13:16:41.125,üìç Welcome to üì∞ News! Please hit Like ‚ù§Ô∏è above ...,[eng],2799,46,104,NaN,NaN,NaN,NaN,NaN,NaN,None
2,3517724,27155,com,1976-05-30 13:16:41.125,üìç Welcome to üì∞ News! Please hit Like ‚ù§Ô∏è above ...,[eng],2799,46,104,NaN,NaN,NaN,NaN,NaN,NaN,None
4,3517724,27155,com,1976-05-30 13:16:41.125,üìç Welcome to üì∞ News! Please hit Like ‚ù§Ô∏è above ...,[eng],2799,46,104,NaN,NaN,NaN,NaN,NaN,NaN,None
5,3517724,27155,com,1976-05-30 13:16:41.125,üìç Welcome to üì∞ News! Please hit Like ‚ù§Ô∏è above ...,[eng],2799,46,104,NaN,NaN,NaN,NaN,NaN,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41821,3517724,27155,com,1976-05-30 13:16:41.125,üìç Welcome to üì∞ News! Please hit Like ‚ù§Ô∏è above ...,[eng],2799,46,104,NaN,NaN,NaN,NaN,NaN,NaN,None
41913,3517724,27155,com,1976-05-30 13:16:41.125,üìç Welcome to üì∞ News! Please hit Like ‚ù§Ô∏è above ...,[eng],2799,46,104,NaN,NaN,NaN,NaN,NaN,NaN,None
42006,3517724,27155,com,1976-05-30 13:16:41.125,üìç Welcome to üì∞ News! Please hit Like ‚ù§Ô∏è above ...,[eng],2799,46,104,NaN,NaN,NaN,NaN,NaN,NaN,None
42106,3517724,27155,com,1976-05-30 13:16:41.125,üìç Welcome to üì∞ News! Please hit Like ‚ù§Ô∏è above ...,[eng],2799,46,104,NaN,NaN,NaN,NaN,NaN,NaN,None
42111,3517724,27155,com,1976-05-30 13:16:41.125,üìç Welcome to üì∞ News! Please hit Like ‚ù§Ô∏è above ...,[eng],2799,46,104,NaN,NaN,NaN,NaN,NaN,NaN,None

In [ ]:
import gzip

lines = []
i = 0
with gzip.open(PATH_DATA + 'followers.csv', 'r') as f:
    while True:
        line = f.readline()       
        i += 1
        print(i, end='\r')
        lines.append(line.decode('utf-8').strip().split(','))
#pd.read_csv(PATH_DATA + 'followers.csv.gz', compression='gzip', header=None)

NameError: name 'PATH_DATA' is not defined

In [17]:
pd.DataFrame(lines, columns=['user_id', 'follower_id'])

     user_id follower_id
0          0           1
1          0          10
2          0         100
3          0         101
4          0         102
..       ...         ...
995   100003      312823
996  1000033      132939
997  1000033      133283
998  1000033      133287
999  1000033      133462

[1000 rows x 2 columns]

In [22]:
PATH_FOLLOWERS = PATH_DATA + 'followers.csv'
pd.read_csv(PATH_FOLLOWERS, compression='gzip', encoding='utf-8', header=None, delimiter=',')

ParserError: Error tokenizing data. C error: Expected 2 fields in line 12, saw 6

In [18]:
lines

['0,1\n',
 '0,10\n',
 '0,100\n',
 '0,101\n',
 '0,102\n',
 '0,103\n',
 '0,104\n',
 '0,105\n',
 '0,106\n',
 '0,107\n',
 '0,108\n',
 '0,109\n',
 '0,11\n',
 '0,110\n',
 '0,111\n',
 '0,112\n',
 '0,113\n',
 '0,114\n',
 '0,115\n',
 '0,116\n',
 '0,117\n',
 '0,118\n',
 '0,119\n',
 '0,12\n',
 '0,120\n',
 '0,121\n',
 '0,122\n',
 '0,123\n',
 '0,124\n',
 '0,125\n',
 '0,126\n',
 '0,127\n',
 '0,128\n',
 '0,129\n',
 '0,13\n',
 '0,130\n',
 '0,131\n',
 '0,132\n',
 '0,133\n',
 '0,134\n',
 '0,135\n',
 '0,14\n',
 '0,15\n',
 '0,16\n',
 '0,17\n',
 '0,18\n',
 '0,19\n',
 '0,2\n',
 '0,20\n',
 '0,21\n',
 '0,22\n',
 '0,23\n',
 '0,24\n',
 '0,25\n',
 '0,26\n',
 '0,27\n',
 '0,28\n',
 '0,29\n',
 '0,3\n',
 '0,30\n',
 '0,31\n',
 '0,32\n',
 '0,33\n',
 '0,34\n',
 '0,35\n',
 '0,36\n',
 '0,37\n',
 '0,38\n',
 '0,39\n',
 '0,4\n',
 '0,40\n',
 '0,41\n',
 '0,42\n',
 '0,43\n',
 '0,44\n',
 '0,45\n',
 '0,46\n',
 '0,47\n',
 '0,48\n',
 '0,49\n',
 '0,5\n',
 '0,50\n',
 '0,51\n',
 '0,52\n',
 '0,53\n',
 '0,54\n',
 '0,55\n',
 '0,56\n',
 '0,57\n',
 '0,58\n',
 '0,59\n',
 '0,6\n',
 '0,60\n',
 '0,61\n',
 '0,62\n',
 '0,63\n',
 '0,64\n',
 '0,65\n',
 '0,66\n',
 '0,67\n']

In [3]:
PATH_FEED_POSTS_LIKES = PATH_DATA + 'feed_posts_likes/'

list_files = os.listdir(PATH_FEED_POSTS_LIKES)
list_files

['AcademicSky.csv.gz',
 'GreenSky.csv.gz',
 'Science.csv.gz',
 '#Disability.csv.gz',
 'BookSky.csv.gz',
 'Game Dev.csv.gz',
 'Blacksky.csv.gz',
 'Political Science.csv.gz',
 '#UkrainianView.csv.gz',
 'News.csv.gz',
 "What's History.csv.gz"]

In [2]:
df = pd.read_csv(PATH_FEED_POSTS_LIKES + 'News.csv.gz', compression='gzip', header=None)
df.columns = ['liker_id', 'author_id', 'post_id', 'timestamp']
df

         liker_id  author_id  post_id     timestamp
0         1499007      27155  3517724  202312212134
1         2158956      27155  3517724  202402091909
2         1248108      27155  3517724  202310271446
3          804480      27155  3517724  202402062331
4          283396      27155  3517724  202401011833
...           ...        ...      ...           ...
2115317   4411856      27155  3517724  202404011545
2115318   3995176      27155  3517724  202312312345
2115319   4413278      27155  3517724  202404030257
2115320    359487      27155  3517724  202402071257
2115321    905347      27155  3517724  202311170231

[2115322 rows x 4 columns]

In [11]:
df_list = []

for file in list_files:
    df = pd.read_csv(PATH_FEED_POSTS_LIKES + file, compression='gzip', header=None)
    df.columns = ['liker_id', 'author_id', 'post_id', 'timestamp']
    df['feed'] = file.split('.')[0]
    df_list.append(df)

df_feed_likes = pd.concat(df_list)
df_feed_likes

      liker_id  author_id   post_id     timestamp            feed
0       523729     237383  38345536  202403241714     AcademicSky
1      1163003     237383  38345536  202403182321     AcademicSky
2      1797469     844345  46032441  202403190524     AcademicSky
3      1095062     844345  46032441  202403190142     AcademicSky
4       182888     844345  46032441  202403190909     AcademicSky
...        ...        ...       ...           ...             ...
2457     77142      61725  55090528  202403130820  What's History
2458     34638      61725  55090528  202403130225  What's History
2459   1644044      61725  55090528  202403130805  What's History
2460     65228      61725  55090528  202403130221  What's History
2461   2328446      61725  55090528  202403130422  What's History

[4895318 rows x 5 columns]

In [13]:
df_feed_likes.drop_duplicates(['liker_id', 'feed'], inplace=True)
df_feed_likes

      liker_id  author_id   post_id     timestamp            feed
0       523729     237383  38345536  202403241714     AcademicSky
1      1163003     237383  38345536  202403182321     AcademicSky
2      1797469     844345  46032441  202403190524     AcademicSky
3      1095062     844345  46032441  202403190142     AcademicSky
4       182888     844345  46032441  202403190909     AcademicSky
...        ...        ...       ...           ...             ...
2451    236212     424024  32310989  202403131156  What's History
2457     77142      61725  55090528  202403130820  What's History
2458     34638      61725  55090528  202403130225  What's History
2459   1644044      61725  55090528  202403130805  What's History
2461   2328446      61725  55090528  202403130422  What's History

[375911 rows x 5 columns]

In [14]:
df = pd.read_csv(os.environ.get('PATH_OPENSKY') + '/results/agg_user_data.csv', index_col=0)
df.reset_index(inplace=True, names=['user_id'])
df_sents = df[['user_id', 'mean_sent_score']]
df_sents

        user_id  mean_sent_score
0        288811              NaN
1        527934         0.824409
2       1632691              NaN
3       1909409              NaN
4       2902501              NaN
...         ...              ...
705678   495380         0.790667
705679   502241         0.800889
705680  1652601         0.770500
705681  1838341              NaN
705682  3401925         0.727286

[705683 rows x 2 columns]

In [15]:
df_joined = pd.merge(df_feed_likes, df_sents, left_on='liker_id', right_on='user_id', how='left')
df_joined.dropna(inplace=True)
df_joined

,liker_id,author_id,post_id,timestamp,feed,user_id,mean_sent_score
1,1163003,237383,38345536,202403182321,AcademicSky,1163003.0,0.729610
4,182888,844345,46032441,202403190909,AcademicSky,182888.0,0.732326
8,3052834,844345,46032441,202403191655,AcademicSky,3052834.0,0.773000
12,31820,35328,215542741,202403220658,AcademicSky,31820.0,0.731241
14,919648,331738,86242767,202403190311,AcademicSky,919648.0,0.791748
...,...,...,...,...,...,...,...
375886,6580,500019,54479964,202403131108,What's History,6580.0,0.735468
375888,583450,6409,176742278,202403131100,What's History,583450.0,0.785945
375893,77109,77120,39918937,202403131221,What's History,77109.0,0.764845
375897,632845,89126,143561566,202403131404,What's History,632845.0,0.783881
375903,139659,424024,32310989,202403131553,What's History,139659.0,0.796079

In [16]:
df_joined.groupby('feed').agg({'mean_sent_score': ['mean', 'count', 'std']})

                  mean_sent_score
                             mean  count       std
feed
#Disability              0.756686    992  0.036621
#UkrainianView           0.770484   1958  0.053346
AcademicSky              0.763665    750  0.041458
Blacksky                 0.756569  34385  0.053370
BookSky                  0.771387    580  0.047984
Game Dev                 0.764092    808  0.045979
GreenSky                 0.749468   1295  0.034847
News                     0.755155  26932  0.058213
Political Science        0.752699    569  0.037634
Science                  0.762509  29321  0.054677
What's History           0.755232    465  0.033012